.calc {
  margin: 50px auto;

  width: 300px;
  height: 500px;

  border-radius: 20px;
  background: #000;

  color: $text-color;
  font-family: Oswald, sans-serif;
  font-weight: 700;

  padding: 18px;

  box-shadow: 4px 4px 4px #4f4f4f;

  &_screen {
    position: relative;
    height: 125px;
    padding: 10px;

    p {
      position: absolute;

      bottom: 0;
      right: 0;

      font-size: 42px;
      font-weight: 500;
    }
  }

  &_buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;

    gap: 7px;

    .calc_btn {
      width: 60px;
      height: 60px;
  
      background: #333;
      border-radius: 50%;
  
      text-align: center;
      line-height: 60px;
      font-size: 1.5rem;
  
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;
  
      &:hover {
        filter: brightness(120%);
      }
  
      &:active {
        filter: brightness(70%);
      }
  
      &.btn-grey {
        background: $grey-buttons;
      }
  
      &.btn-orange {
        background: $buttons-bg;
      }
    }

    .btn--zero {
      width: 100%;
      grid-column: 1 / 3;

      border-radius: 34px;
    }
  }
}